{{>nav-login}}

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">GALERIA DE <strong>{{userTK}}</strong></span>
</nav>


<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>TÍTULO</th>
                <th>DESCRIPCIÓN</th>
                <th>OPERACIONES</th>
                <th>IMAGEN</th>
            </tr>
        </thead>
        <tbody>
            {{#each photos}}
            <tr>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>
                    <a href="{{imageURL}}" target="_blank" class="btn btn-primary">VER</a>
                    <a href="/images/delete/{{_id}}" class="btn btn-danger">BORRAR</a>
                </td>
                <td class="image-container">
                    <img src="{{imageURL}}" alt="" class="image_admin">
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>